:root {
    --color-background: hsla(0, 0%, 95%, 1);
    --color-background: hsla(0, 0%, 95%, 1);

    --color-text:  hsla(60, 0%, 24%, 1);

    --color-gray-100: hsl(60, 0%, 95%, 1);
    --color-gray-300: hsla(67, 1%, 74%, 1);
    --color-gray-600: hsla(56, 0%, 50%, 1);
    --color-gray-900: hsla(56, 0%, 24%, 1);

    --color-orange-600: hsla(22, 55%, 66%, 1);
    --color-orange-900: hsla(28, 62%, 60%, 1);

    --color-text-alpha-7:  hsla(60, 0%, 10%, .7);
    --color-gray-900-alpha-7: hsla(56, 0%, 24%, .7);
}