.page__inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home__img {
    z-index: 1;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.home_svg {
    position: absolute;
    top: -60px;
    left: 0;
    min-width: 100%;
}

.home_svg polygon,
.home_svg polyline,
.home_svg path {
    cursor: pointer;
    fill: transparent;
    stroke: transparent;
    z-index: 1000;
}

.home_svg polygon:hover,
.home_svg polyline:hover,
.home_svg path:hover {
    stroke: blue;
    stroke-width: 2px;
    fill: white !important;
    opacity: .4;
}